@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-custom-shape {
    clip-path: polygon(0 0, 100% 100%, 0 100%);
  }

  .bg-custom1 {
    background-image: url('/images/bg-custom1.png'); /* Path relatif dari folder public */
    background-size: cover; /* Menutupi seluruh elemen */
    background-position: center; /* Pusatkan gambar */
    background-repeat: no-repeat; /* Jangan ulang gambar */
  }

  .bg-custom2 {
    background-image: url('/images/bg-custom2.png'); /* Path relatif dari folder public */
    background-size: cover; /* Menutupi seluruh elemen */
    background-position: center; /* Pusatkan gambar */
    background-repeat: no-repeat; /* Jangan ulang gambar */
  }


  /* styles/globals.css */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.fixed {
  position: fixed;
}

.bg-gray-900 {
  background-color: rgba(0, 0, 0, 0.9);
}

.bg-opacity-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.z-50 {
  z-index: 50;
}